<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="mono.connect">
  <uses-permission android:name="android.permission.INTERNET" />

  <application>
    <activity android:name=".widget.ConnectWidgetActivity" />
    <activity android:name=".kit.ConnectKitActivity" />
  </application>
</manifest>